*{margin:0; padding:0;font-family: 'Montserrat', sans-serif;list-style: none; text-decoration: none;}

.container{margin:0 auto; max-width:1535px; padding:0px;}
.nav-bar{height:80px;background-color:rgba(0, 0, 0, 0);align-items:center;display:flex; justify-content: space-between;}
.nav-bar img{margin-left:20px;}
.nav-links{display:flex; justify-content: space-around; width:50%;}
.nav-links li a{color:black; font-size:20px;}
.nav-links li a:hover{color:rgb(38, 41, 196); }
.coverphoto{background-size:cover;background-image: url("images/background.png"); height:500px; width:100%;background-position:center;}
.burger{cursor:pointer;margin-right:30px; display:none;}
.burger .line{margin:5px;height:5px; width:25px;background-color:black; }

@media screen and (max-width:1400px){.nav-links{width:70%;}}
@media screen and (max-width:950px){
.nav-links{transition:0.5s;height:300px;background-color:rgb(221, 216, 216);line-height:60px;display:block; position:absolute; text-align:center; width:100%; top:80px;}
.burger{display:block;}
.nav-active{display:none;}
}

    